/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

@tailwind base;

@layer base {
    /**
      white: 'var(--color-white)',
      body: 'var(--color-body)',
      gray: 'var(--color-gray)',
      primary: 'var(--color-primary)',
      accent: 'var(--color-accent)',
      secondary: 'var(--color-secondary)',
      error: 'var(--color-error)',
      richTextEditor: {
        toolBarBg: 'var(--color-rich-text-editor-tool-bar-bg)',
      },
     */
    :root {
        --color-white: #fdfdfd;
        --color-body: #444;
        --color-gray: #ccc;
        --color-primary: #274fce;
        --color-accent: #48bb78;
        --color-secondary: #1b886f;
        --color-error: #f56565;
        --color-rich-text-editor-tool-bar-bg: #66ffbb;
    }
}

body {
    @apply mej-text-body;
}
